<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Markus Punane</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024 aasta kursuse banner">
  <h1>Markus Punane</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna Ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali!</p>
  <hr>
  <ul>
	<li><a href = "/Timenow">Ajainfo</a></li>
	<li><a href = "/vanasonad">Vanasõnad</a></li>
  </ul>
  <hr>
</body>
</html>