<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Markus Punane</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024 aasta kursuse banner">
  <h1>Markus Punane</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna Ülikoolis</a>, Digitehnoloogiate instituudis ja ei sisalda tõsiseltvõetavat materjali!</p>
  <hr>
  <ul>
	<li><a href="/"> Ajainfo</a></li>
  </ul>
  <hr>
  <h2>Registreeri oma külastus sellele veebilehele</h2>
  <form method="POST">
	<label for="firstNameInput">Sisesta oma eesnimi: </label>
    <input type="text" id="firstNameInput" name="firstNameInput" placeholder="Eesnimi ...">
	<br>
	<label for="firstNameInput">Sisesta oma perekonnanimi: </label>
    <input type="text" id="lastNameInput" name="lastNameInput" placeholder="Perekonnanimi ...">
	<br>
	<input type="submit" id="regSubmit" name="regSubmit" value="Salvesta">
  </form>
</body>
</html>